 a {
  padding: 0 14px;
  color: white;
  text-decoration: none;
}
a:hover, a:active {
  color: lightgray;
}

.example-spacer {
  margin-right: auto;
}
.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
