<section fxLayout fxLayoutAlign="center">
  <mat-card>
    <form
      fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center"
      #f="ngForm" (ngSubmit)="onSubmit(f)"
    >
      <mat-form-field appearance="outline">
        <mat-label>Your Email</mat-label>
        <input
          matInput
          email
          ngModel
          #emailInput="ngModel"
          name="email"
          required
          placeholder="Enter your email"
        />
        <mat-error *ngIf="emailInput.hasError('required')">The email field must not be empty</mat-error>
        <mat-error *ngIf="emailInput.hasError('email')">You must enter a valid email</mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline" hintLabel="Should be at least 6 characters long.">
        <mat-label>Your Password</mat-label>
        <input
          matInput
          ngModel
          #passwordInput="ngModel"
          name="password"
          required
          minlength="6"
          placeholder="Enter your password"
        />
        <mat-hint align="end">{{passwordInput.value?.length || 0}}/6</mat-hint>
        <mat-error *ngIf="emailInput.hasError('required')">The password field must not be empty</mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="myDatepicker"
          required
          [max]="maxDate"
          name="birthdate"
          ngModel
        />
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>

      <mat-checkbox
        class="mat-checkbox__display"
        required
        name="agreement"
        ngModel
      >Agree to Terms and Conditions</mat-checkbox>

      <button mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
    </form>
  </mat-card>
</section>
